@{
    ViewData["Title"] = "Home Page";
}


  <section class="heading-page header-text" id="top" style="background-image:url('images/banners/web-banner.jpg');position: absolute; left: 0; top: 140px; width: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </section>


  <!-- ***** Main Banner Area End ***** -->

  <style>
.card-container {
    margin:500px auto 0px auto;
}
.card {
  width: 70%;
  height: 80%;
  max-height: 300px;
  padding: auto;
  text-align: center;
  background-image:url("images/service-item-bg.jpg");
  background-color:none;
  border-radius: 10px;

}
  .card__container {
    display: grid;
    width:100%;
    height:120%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
    
  }
  .card__content {
    width: 80%;
    height: 95%;
    background: none;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
  }
  .card__header {
    text-transform: uppercase;
    font-size: 20px;
    margin: 40px auto;
  }
  .card__button {
    padding: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 50px auto;
  }

  </style>

  <div class="card-container">
  <div class="card__container">
    <div class="card">
      <div class="card__content">
              <div class="icon">
                <img src="images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Affiliated Certification</h4>
                <p>For your dedication and commendable efforts to learning.</p>
              </div>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
              <div class="icon">
                <img src="images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Dedicated Mentoring</h4>
                <p>We handpick industry experts to be your mentors.</p>
              </div>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
              <div class="icon">
                <img src="images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Online Classes</h4>
                <p>Learn and develop new skills from the comform of your home.</p>
              </div>
      </div>
      </div>
    </div>
  </div>
</div>


  <section class="upcoming-meetings" id="meetings" style="background-image:url(images/meetings-bg.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading" style="text-align: center;">
            <h2>Upcoming Webinars</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Webinar Categories</h4>
            <ul>
              <li><a href="#">Education</a></li><br />
              <li><a href="#">Placements</a></li><br />
              <li><a href="#">Career Building</a></li><br />
              <li><a href="#">Computer Science</a></li><br />
              <li><a href="#">Engineering</a></li>
            </ul>
            <div class="main-button-red">
              <a href="meetings.html">All Webinars</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>₹0</span>
                  </div>
                  <a href="meeting-details.html"><img src="images/meeting-01.jpg" alt="New Batch Orientation"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>10</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>New Lecturers Meeting</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>₹700</span>
                  </div>
                  <a href="meeting-details.html"><img src="images/meeting-02.jpg" alt="Online Teaching"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>24</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Online Learning Techniques</h4></a>
                  <p>Interact with Industry Leaders to get to know various learning techniques when attending classes online</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>₹1500</span>
                  </div>
                  <a href="meeting-details.html"><img src="images/meeting-03.jpg" alt="Higher Education"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>26</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Higher Education Conference</h4></a>
                  <p>Interact with Industry leaders to help you seek your dream career and how to achieve it.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>₹500</span>
                  </div>
                  <a href="meeting-details.html"><img src="images/meeting-04.jpg" alt="Student Training"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>30</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Student Placement Meetup</h4></a>
                  <p>Interact with Skill Vertex placed alumni to get insights about placement experience, interview process, etc.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Apply now -->
  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3>APPLY FOR ADVANCE PROGRAMS</h3>
                <p>Our advance programs in the field of Computer Science and Management are curated to help our students to broaden their horizons and learn new skill and becoming industry ready.</p>
                <div class="main-button-red">
                  <div><a href="courses.html?category=advance">Join Us Now!</a></div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h3>APPLY FOR TRAINING AND INTERNSHIP</h3>
                <p>Choose from our 28+ courses in various domains like Computer Science, Engineering and Management to become industry ready with our internship projects curated according industry standards.</p>
                <div class="main-button-yellow">
                  <div><a href="courses.html?category=training&internship">Join Us Now!</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordions is-first-expanded">
            <article class="accordion">
                <div class="accordion-head">
                    <span>Steps to enroll into a program</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>To enroll into a course, open the course page by clicking on the All Courses menu. Look for a course you like and open it. Click Enroll and choose a batch option.</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>See courses you are enrolled in</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Once you are enrolled in a course, you will see it on your SkillVertex LMS page while logged in. Click In Progress or Completed to see all of the courses in those categories.</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>Completing a course</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>To successfully complete your course you'll have to work on multiple industry-grade projects over the duration of a month for which you'll receive the training and internship certificates.</p>
                    </div>
                </div>
            </article>
            <article class="accordion last-accordion">
                <div class="accordion-head">
                    <span>After completion of course</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>After completion you'll have access to course materials for another 6 months, hence, you can revise the course completed or enroll into another course from a different domain or an advance course from the same domain.</p>
                    </div>
                </div>
            </article>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>A Few Facts About<br>Skill Vertex</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">9000</div>
                    <div class="count-title">Learners Upskilled</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">80000</div>
                    <div class="count-title">Hours of Sessions</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">200</div>
                    <div class="count-title">Tools Taught</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">36</div>
                    <div class="count-title">Engineering and Management Domains</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">31</div>
                    <div class="count-title">Industry Experts and Mentors</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=ZO3PaD-wQa8" target="_blank"><img src="assets/images/play-icon.png" alt=""></a>
          </div>
          <div class="col-lg-12" style="text-align: right; color: whitesmoke;">
            <br><br><br>
            <h3>Explore your creativity<br>with Skill Vertex</h3>
          </div>
        </div>
      </div>
    </div>
  </section>